node_modules
.next
.git
.gitignore
README.md
Dockerfile
.dockerignore
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env*.local
.vercel
.DS_Store
*.tsbuildinfo
coverage
.nyc_output
.nx
dist
tests
jest.config.ts
*.test.ts
*.test.tsx
*.spec.ts
*.spec.tsx 